@{
    ViewData["Title"] = "Names Greeted";
}

@model GreetingsInCSharp.Models.GreetingsModel;

<div class="text-center">
    <br>
    <div class="container">
        <div class="row justify-content-between align-items-end">
            <h1 class="display-4">@Html.DisplayFor(model => model.SelectedName)</h1>
            <h3 class="display-6">Total Greets: @Html.DisplayFor(model => model.SelectedNameGreetCount)</h3>
        </div>
    </div>
    <br>
    <table class="table table-primary table-striped table-hover">
        <tr>
        <th scope="col">Language Selected</th>
        <th scope="col">Time</th>
        </tr>
        @foreach (var item in Model.GetSelectedNamesData)
        {
            @if (item.theName == Model.SelectedName)
            {
                <tr class="table-secondary">
                    <td scope="col">@Html.DisplayFor(Model => item.language)</td>
                    <td scope="col">@Html.DisplayFor(Model => item.theTime)</td>
                </tr>
            }   
        }
    </table>
</div>