@{
    ViewData["Title"] = "Home Page";
}

@model GreetingsInCSharp.Models.GreetingsModel;


<div class="text-center">
    <br>
    <br>
    <h4 class="display-6" >Enter a name, select a language, and have a  greet.</h4>
    <p id="successMessage" class="text-success">@Html.DisplayFor(Model => GreetingsModel.indexSuccessMessage)</p>
    <p id="theError" class="text-danger">@Html.DisplayFor(Model => GreetingsModel.exception)</p>
    <form action="/" method="POST">
        <label>Name:</label>
        <input type="text" name="nameVal" placeholder="Enter here" required>
        <label>Count:<span>@Html.DisplayFor(model => GreetingsModel.count)</span></label>
        <br>
        <br>
        <label>Portuguese <input type="radio" value="Portuguese" name="languageVal"></label>
        <label>Swedish <input type="radio" value="Swedish" name="languageVal"></label>
        <label>Japanese <input type="radio" value="Japanese" name="languageVal"></label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Greet Me</button>
        <a asp-controller="home" asp-action="ClearGreets"><button class="btn btn-danger" type="button">Clear Greets</button></a>
    </form>
    <br>
    <br>
    <br>
    <h3 id="theGreet" class="display-4">@Html.DisplayFor(model => GreetingsModel.theGreeting)</h3>


</div>
